<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Мир'})"> Мир</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Технологии'})">Технологии</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Дизайн'})">Дизайн</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Культура'})">Культура</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Бизнес'})">Бизнес</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Наука'})">Наука</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Здоровье'})">Здоровье</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Стиль'})">Стиль</a>
    <a class="p-2 link-secondary" (click)="setCategory({category : 'Путешествия'})">Путешествия</a>
  </nav>
</div>

<div class="row d-flex">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Добро пожаловать!</h1>
      <p class="lead my-3">В данном блоге демонстрируются информация о мире, технологиях, дезайне, культуре, бизнесе, науке, здоровье, стиле, путешествиях.</p>
      <p  class="lead mb-0"><a [routerLink]="['/reg']" class="text-white fw-bold" >Зарегистрироваться</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div [routerLink]="['/post',post._id]" *ngFor="let post of posts | sorting: category" class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{post["category"]}}</strong>
          <h3 class="mb-0">{{post["title"]}}</h3>
          <div class="mb-1 text-muted">{{post["date"] | date: "short"}}</div>
          <quill-view [content]="post.photo"></quill-view>

          <a class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <quill-view [content]="post.text"></quill-view>
        </div>
      </div>
    </div>
  </div>
</div>
