<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/']"  class="nav-link px-2 link-dark">Домой</a></li>
      <li *ngIf="authService.isAuthenticated()"><a [routerLink]="['/dashboard']" class="nav-link px-2 link-dark">Личный кабинет</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button *ngIf="!authService.isAuthenticated()" [routerLink]="['/auth']" type="button" class="btn btn-outline-primary">Войти</button>
      <button *ngIf="!authService.isAuthenticated()" [routerLink]="['/reg']" type="button" class="btn btn-outline-primary">Регистрация</button>
      <button *ngIf="authService.isAuthenticated()" type="button" class="btn btn-warning" (click)="logoutUser()">Выйти</button>
    </div>
  </header>
</div>
